%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
       {basho_bench, ".*", {git, "https://github.com/bdionne/basho_bench.git",
                          master}},
       {bitcask, ".*", {git, "https://github.com/bdionne/bitcask",
                     {branch, "master"}}},
       {erleveldb, ".*", {git, "git://github.com/bdionne/erleveldb",
                     {branch, "master"}}}]}.

