{mode, max}.

{duration, 5}.

{concurrent, 5}.

{driver, basho_bench_driver_bitcask}.

{key_generator, {int_to_bin,{uniform_int, 1000000}}}.

{value_generator, {fixed_bin, 1000}}.

{operations, [{get, 1}, {put, 1}, {delete, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to 
%% the relevant directory of a bitcask installation 
{code_paths, ["deps/stats",
              "deps/bitcask"]}.

{bitcask_dir, "tests/bitcask.bench"}.

%%{bitcask_flags, [o_sync]}.
