{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_btree}.

{key_generator, {int_to_bin,{uniform_int, 1000000}}}.

{value_generator, {fixed_bin, 1000}}.

{operations, [{get, 5}, {put, 2}, {delete, 1}]}.

{code_paths, ["deps/stats",
              "ebin"]}.

{chunk_size, 1279}.
{batch_size, 1}.
